{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/act1.css' %}" />
  </head>
  <body>
    <div class="main">
      <div class="upperBox">
        <div class="box1">
          <h2>Purpose!</h2>
          <ul>
            <li>Honor and pay tribute to Lord Ganesha</li>
            <li>Educate about the cultural significance</li>
            <li>Inspire emulation of Ganesha's qualities</li>
            <li>Showcase student talents</li>
            <li>Promote unity and harmony</li>
          </ul>
        </div>
        <div class="box2">
          <h2>Outcome!</h2>
          <ul>
            <li>
              Increased cultural awareness and appreciation among students
            </li>
            <li>
              Enhanced understanding of the significance of Ganesh Chaturthi and
              its rituals
            </li>
            <li>Improved Physical Health</li>
            <!-- <li>Stress Reduction</li>
                    <li>Building Relationships</li>
                    <li>Academic Reinforcement</li> -->
          </ul>
        </div>
      </div>

      <div class="lowerBox">
        <div class="box3">
          <h2>Ganesh Chaturti Activity Involves!</h2>
          <p>
            The Ganesh Chaturthi celebration features a variety of engaging
            activities. It begins with the installation of Ganesh idols in the
            college premises, accompanied by traditional prayers and rituals.
            Cultural performances, including music, dance, and drama, honor Lord
            Ganesha and entertain the audience. The college campus is adorned
            with colorful decorations, rangolis, and floral arrangements,
            creating a festive atmosphere. Prasad distribution symbolizes
            blessings and abundance, fostering a sense of communal sharing.
            Additionally, workshops, lectures, and discussions are organized to
            educate students about the significance of Ganesh Chaturthi and its
            customs. Community service activities, such as environmental
            conservation initiatives and charity drives, reflect the spirit of
            giving associated with the festival. Overall, the celebration of
            Ganesh Chaturthi in the college encompasses devotion, cultural
            enrichment, and community engagement
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
