{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/act2.css' %}" />
  </head>
  <body>
    <div class="main">
      <div class="upperBox">
        <div class="box1">
          <h2>Purpose!</h2>
          <ul>
            <li>
              Cultivate a love for science through interactive exploration
            </li>
            <li>Encourage creativity and innovation in scientific pursuits</li>
            <!-- <li>Foster critical thinking skills through hands-on projects</li> -->
            <li>Creativity and Imagination</li>
            <!-- <li>Promote collaboration and teamwork among students</li>
                    <li>Inspire future scientists and innovators through student-led initiatives</li> -->
          </ul>
        </div>
        <div class="box2">
          <h2>Outcome!</h2>
          <ul>
            <li>Enhanced scientific knowledge through experiential learning</li>
            <li>Increased confidence in presenting complex ideas</li>
            <li>Improved presentation skills through project exhibitions</li>
            <li>Positive community engagement and pride</li>
            <!-- <li>Long-term impact on academic and career success in STEM</li> -->
          </ul>
        </div>
      </div>

      <div class="lowerBox">
        <div class="box3">
          <h2>Science Exhibition Involves!</h2>
          <p>
            The science exhibition features a diverse range of activities,
            including interactive displays, hands-on experiments, and engaging
            presentations. Students have the opportunity to conduct experiments,
            build models, and demonstrate scientific concepts in fun and
            creative ways. Visitors to the exhibition can explore various topics
            such as biology, chemistry, physics, environmental science, and
            technology. In addition to student-led projects, the exhibition may
            also include guest speakers, workshops, and demonstrations to
            further enrich the learning experience. In conclusion, our school's
            science exhibition is more than just a showcase of projects—it's a
            celebration of curiosity, creativity, and the boundless
            possibilities of science. We invite everyone to join us in exploring
            the wonders of the universe and inspiring the next generation of
            scientific innovators.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
