{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/act3.css' %}" />
  </head>
  <body>
    <div class="main">
      <div class="upperBox">
        <div class="box1">
          <h2>Purpose!</h2>
          <ul>
            <li>Celebrate and honor the birth of Lord Krishna</li>
            <li>Educate students about Janmashtami traditions</li>

            <li>Promote unity and harmony within the school community</li>
          </ul>
        </div>
        <div class="box2">
          <h2>Outcome!</h2>
          <ul>
            <li>
              Increased cultural awareness and appreciation among students
            </li>

            <li>
              Strengthened sense of community and unity among participants
            </li>
          </ul>
        </div>
      </div>

      <div class="lowerBox">
        <div class="box3">
          <h2>Janmashtami Activity Involves!</h2>
          <p>
            The Janmashtami celebration includes a variety of engaging
            activities. Traditional puja ceremonies mark the beginning, followed
            by vibrant cultural performances such as devotional songs, dance
            presentations, and skits portraying Krishna's life. The school
            premises are adorned with colorful decorations and thematic
            displays. Prasad distribution symbolizes blessings, while workshops
            and storytelling sessions educate about Janmashtami's significance.
            Additionally, charity drives and community service activities
            underscore Krishna's message of compassion and service to others.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
