
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/act4.css' %}">
</head>
<body>
    <div class="main">

        <div class="upperBox">
            <div class="box1">
                <h2>Purpose!</h2>
                <ul>
                    <li>Physical health</li>
                    <li>Social Development</li>
                    <li>Emotional Well-being</li>
                    <li>Creativity and Imagination</li>
                    <li>Cultural and Diversity Awareness</li>
                    <li>Community Building</li>
                </ul>
            </div>
            <div class="box2">
                <h2>Outcome!</h2>
                <ul>
                    <li>Increased Engagement</li>
                    <li>Enhanced Social Skills</li>
                    <li>Improved Physical Health</li>
                    <li>Stress Reduction</li>
                    <li>Building Relationships</li>
                    <li>Academic Reinforcement</li>
                </ul>
            </div>
        </div>

        <div class="lowerBox">
            <div class="box3">
                <h2>Fun Activity/Games Involves!</h2>
                <p>Fun activities and games conducted in schools involve a diverse range of elements aimed at engaging students and promoting various aspects of their development. These activities often encompass physical, social, emotional, and cognitive dimensions.
                Physical activities encourage movement, coordination, and fitness, while also fostering teamwork and sportsmanship. Socially, games provide opportunities for interaction, communication, and collaboration among peers, helping students develop essential interpersonal skills. Emotionally, fun activities serve as outlets for stress relief, enjoyment, and relaxation, contributing to overall well-being. Additionally, many games require strategic thinking, problem-solving, and creativity, stimulating cognitive development and intellectual growth. 
                We provide education that goes beyond the traditional classroom setting, enriching students' experiences and enhancing their learning journey.
                </p>
            </div>
        </div>
    </div>
</body>
</html>