{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/act5.css' %}">
</head>
<body>
    <div class="main">

        <div class="upperBox">
            <div class="box1">
                <h2>Purpose!</h2>
                <ul>
                    <li>Fostering Patriotism</li>
                    <li>Educational Significance</li>
                    <li>Cultural Integration</li>
                    <li>Promoting Democratic Values</li>
                    <li>Cultural and Diversity Awareness</li>
                    <li>Honoring Freedom Fighters and Heroes</li>
                </ul>
            </div>
            <div class="box2">
                <h2>Outcome!</h2>
                <ul>
                    <li>Patriotic Spirit</li>
                    <li>Cultural Awareness</li>
                    <li>Historical Significance</li>
                    <li>Values Education</li>
                    <li>Leadership and Responsibility</li>
                    <li>Creative Expression</li>
                </ul>
            </div>
        </div>

        <div class="lowerBox">
            <div class="box3">
                <h2>Republic Day Event Involves!</h2>
                <p>Republic Day celebrations typically involve a variety of activities and events that shows the importance of India's democratic values and national identity. The day often begins with the hoisting of the national flag by the school principal or a special guest, followed by the singing of the national anthem. 
                Students participates in cultural programs like music, dance, and drama performances. Patriotic songs and speeches highlighting the significance of Republic Day.
                Special assemblies or rallies are held where students march in uniform, carrying flags and banners, to demonstrate their pride and allegiance to the nation. Some schools invite guest speakers, veterans, or local dignitaries to address the students and share inspiring messages about patriotism, unity, and nation-building. The celebrations often culminate with the distribution of sweets, prizes, and certificates to recognize students' participation and achievements, fostering a sense of pride and belonging among the school community.
                </p>
            </div>
        </div>
    </div>
</body>
</html>