{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/act6.css' %}">
</head>
<body>
    <div class="main">

        <div class="upperBox">
            <div class="box1">
                <h2>Purpose!</h2>
                <ul>
                    <li>Nutritional Support</li>
                    <li>Improving Attendance</li>
                    <li>Enhancing Concentration and Learning</li>
                    <li>Addressing Malnutrition and Health Issues</li>
                    <li>Alleviating Poverty</li>
                    <li>Fostering Socialization and Community Engagement</li>
                </ul>
            </div>
            <div class="box2">
                <h2>Outcome!</h2>
                <ul>
                    <li>Nutritional Support</li>
                    <li>Improved Attendance</li>
                    <li>Better Health</li>
                    <li>Social Equality</li>
                    <li>Economic Benefits</li>
                    <li>Child Welfare</li>
                </ul>
            </div>
        </div>

        <div class="lowerBox">
            <div class="box3">
                <h2>Mid-Day-Meal Activity Involves!</h2>
                <p>Mid-day meals conducted in our schools typically involve several key components to ensure that students receive nutritious and balanced meals. These meals aim to address both the nutritional needs of students and promote regular attendance and participation in school.
                Firstly, the menu planning process is crucial. It involves careful consideration of nutritional guidelines and local dietary preferences to create balanced and culturally appropriate meals.
                Menu includes a combination of staple foods such as rice, wheat, or millets, along with protein-rich items like lentils, beans, or eggs, and seasonal fruits and vegetables. 
                Sourcing high-quality ingredients is essential to ensure the nutritional value and safety of the meals.
                mid-day meals conducted in schools involve a comprehensive approach to providing nutritious and balanced meals to students. By addressing nutritional needs and promoting regular attendance, these meals play a vital role in supporting the health, well-being, and educational outcomes of children.
                </p>
            </div>
        </div>
    </div>
</body>
</html>